<h1>In/Out Dashboard</h1>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>In/Out</th>
    <th></th>
    <th>Custom Status Message</th>
    <th></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr class="user-container">
      <td><%= user.name %></td>
      <td></td>
      <td><%= user.status %></td>
      <td></td>
      <td><span class="custom-status"><%= user.custom_status %></span></td>
      <td></td>
      <td><%= button_tag( "Modify Custom Status", :class => "btn custom-status-button" ) if user == @current_user %></td>
    </tr>
  <% end %>
</table>
