<h1>Salespeople Status</h1>
<table>
  <tr>
    <th>Name</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.online? %></td>
    </tr>
  <% end %>
</table>
