<h1>Salespeople Status</h1>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>In/Out</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td/>
      <td><%= user.status %></td>
    </tr>
  <% end %>
</table>
